@model IEnumerable<OrderApp.Models.Order>

<h2>Список заказов</h2>
<table class="table">
    <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Город отправителя</th>
            <th>Адрес отправителя</th>
            <th>Город получателя</th>
            <th>Адрес получателя</th>
            <th>Вес груза</th>
            <th>Дата забора груза</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderNumber</td>
                <td>@order.SenderCity</td>
                <td>@order.SenderAddress</td>
                <td>@order.RecipientCity</td>
                <td>@order.RecipientAddress</td>
                <td>@order.CargoWeight</td>
                <td>@order.PickupDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-controller="OrderMvc" asp-route-id="@order.Id">Просмотр</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" asp-controller="OrderMvc" class="btn btn-primary">Создать новый заказ</a>
